.header_container {
    overflow: hidden;
}

.landing_container{
    overflow: hidden;
}

.map_container {
    background-color: #303639;
    margin-top: 0.1em;
    border-radius: 2vh;
    overflow: hidden;
}
.top_button {
    position: absolute;
    top: 72px;
    left: 63px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link {
    color: #ffffff;
}