.places_container{
    background-color: #303639;
    /*background-color: #444a65;*/
    color: white;
}
.header {
    margin-top: 14px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 14px;
}
.my-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #444a65;
    /*opacity: 0.75;*/
    color: #f7f7f7;
}
